@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #44484d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
